@import url("./reset.css");

.header__container{
   
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.562);
}
.nav__container{
    display: flex;

}
.nav__img{
    height: 3vh;
    z-index: 2;
}

.list{
    display: flex;
    /* z-index: 1; */
    gap: 20px;
    padding: 20px 38px;
}

@media (max-width: 768px) {
.header__container{
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: first baseline;
    padding: 10px;
    border-radius: 5px;
   
}
.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {

       /* z-index: 1; */
        flex-direction: column;
        transition: 1.3s;
        width: 100%;
        margin-top: -210%;
       
}
.nav__button {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
       
      }
     

.show {
    display: block;
    padding: 1rem;
    position: absolute;
    margin: 10px 0px;
    left: 0;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, 0.247);
    z-index: -1;
    width: 100%;
  }

}

  @media (min-width: 769px) {
   
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__container{
     margin-top: 10px;
    }
    .nav__button{
        display: none;
    }

  }

